.locate > * {
    letter-spacing:1px;
}

.locate h2 {
    padding-bottom: 10px;
    letter-spacing:4px;
    color: #ff5722;
}

.locate .form-wrapper {
    margin-top:40px;
    background: #f5f5f5;
    padding: 20px;
}


.locate input,
.locate button {
    width: 100%;
    margin: 10px 0 20px 0;
}

.locate button {
    background: #ff5722;
    letter-spacing:5px
}

.locate button:hover {
    background: #f44336;
}

.error {
    color: #cd0000;
}

.login-or-signup {
    color: #ff6666;
}

.regtop {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}


.auth-active {
    color: #f44336;
}

.top-wrpper {
    padding: 10px 20px;
}

.top-way > * {
    text-align: center;
    display: inline-block;
    width: 50%;
    background: #f5f5f5;
    cursor: pointer;
}

.top-way > *:hover {
    color: #f44336;
}

.verification input {
    width: 55%;
    border-right: 0;
}

.verification button {
    width: 45%;
}